/* === GLOBAL === */

html, body{
    height: 100%;
    font-size: 16px;
}
body {
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
}

hr{
    border: 1px dashed black;
    width: 100%;
}

/* === NAVIGATIONSLEISTE === */
#header-nav {
    background-color: cadetblue;
    height: 50px;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;

    position: fixed;
    top:0;
    width: 100%;
    z-index: 99;

    box-shadow: 0 1px 100px black;
}




#header-nav ul{
    text-align: center;
    padding: 0 0 2rem;
}

#header-nav ul > li {
    display: inline-block;
    padding: 0 0.5rem;

    transition:all 0.2s ease-in-out;
}

#header-nav ul > li:hover {
    padding: 0 0.75rem;
    transform: scale(1.2);
}
#header-nav ul > li > a:link{
    color: white;
    text-decoration: none;
}
#header-nav ul > li > a:visited {
    color: white;
    text-decoration: none;
}

#header-nav ul > li > a:hover{
    color: rgb(255, 224, 167)
}

#header-nav ul > li > a:active {
    color: red;
    text-decoration: none;
}

/* === HEADER-BANNER === */
.banner{
    background-color: orange;
    width: 100%;
    padding-top: 25%;
}
#banner-hello{

    /* bitte url anpassen, falls man den IMG Ordner umbenennt*/
    background:url("img/banner-hello.jpg") no-repeat;

    background-size: cover;
    background-position: center;

}

#banner-graffiti{
      /* bitte url anpassen, falls man den IMG Ordner umbenennst*/
      background:url("../img/kaninchen.jpg") no-repeat;

      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  
}

/* === ABOUT-BEREICH === */

#aboutbereich{

}

/* === INTRO === */
.intro-box{
    /*background-color: aquamarine;*/
    text-align: center;
    margin: 1.6rem;
    padding: 3rem
}

.intro-box > h1 {
    font-size: 2rem;
    color: indigo;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    
}

.intro-box > p {
    font-size: 1.2rem;
}

img.circle {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;

    box-shadow: 0 1px 50px rgb(58, 58, 58);
}

img.nocircle {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

/* === HOBBYS-BEREICH === */
#hobbys-bereich{
    background-color: turquoise;
    width: 100%;
    padding-bottom: 2rem;
    display: inline-block;
}

.hobbys-box-text {
    background-color: white;
    border: 2px solid black;
    margin: 1.6rem;
    padding: 1rem 3rem 2.5rem;

    box-shadow: 1px 1px 5px rgb(58, 58, 58);
    transition: all 0.25 ease-out 100ms;
}
.hobbys-box-text:hover {
    background-color: white;
    border-color: blue;
    color : rgb(24, 53, 170);
    transform: scale(1.05);
}


#hobbys-bereich .intro-box > h1 {
    color: white;
}

#hobbys-bereich .intro-box > p {
    color: white;
}

.hobbys-box-img {
    margin: 1.6rem;
}

.hobbys-box-img img {
    width: 100%;
    height: auto;
    opacity: 85%;
    transition: all 0.25s ease-out 100ms;

    box-shadow: 1px 1px 5px rgb(58, 58, 58);
}

.hobbys-box-img img:hover{
    opacity:100%;
    transform: scale(1.05);
}


/* === FOOTER === */
#footer{
    text-align: center;
}


/* === GRID-SYSTEM === */
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;    
}

.row {
    display: block;
    clear: both;
}

.col-100 {
    width: 100%;
    float: left;
}

.col-50 {
    width: 50%;
    float: left;
}

.col-33{
    width: 33.333333333%;
    float: left;
}


@media (max-width: 1024px)
{
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;    
    }
}
#kontakt-bereich{
    background-color: rgb(0, 255, 242);
    width: 100%;
    display: inline-block;
    padding-bottom: 3rem;
}

#kontakt-bereich > .container{
    width: 50%;
    text-align:center;
}
#kontakt-bereich label {
    font-size: 1rem;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    text-transform: uppercase;
}
#kontakt-bereich input,
#kontakt-bereich textarea{
    width: 100%;
    border: 2px solid black;
    padding: .5rem;
    margin: .5rem 0;
    font-size: 1rem;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    resize: none;
}
#sendenButton {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    font-size: 1rem;
    width: 200px;
    height: 40px;
    border: 2px solid blue;
    background-color: aquamarine;
    transition: all 0.25s ease-out 100ms;
}

#sendenButton:hover{
    border: 3px solid orange;
    background-color: crimson;
    color: white;
    transform: scale(1.2); 
}

.button {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    font-size: 1rem;
    width: 100px;
    height: 20px;
    line-height: 20px;
    padding: 0.5rem;
    margin:auto;
    text-align: center;
    border: 2px solid blue;
    background-color: aquamarine;
    transition: all 0.25s ease-out 100ms;
}

.button:hover{
    border: 3px solid orange;
    background-color: crimson;
    color: white;
    transform: scale(1.2); 
}
#hobbys-bereich a:link{
    color: inherit;
    text-decoration: none;
}
#hobbys-bereich a:visited {
    color: inherit;
    text-decoration: none;
}

#hobbys-bereich a:hover{
    color: inherit;
    text-decoration: none;
}

#hobbys-bereich a:active {
    color: inherit;
    text-decoration: none;

}

 

@media (max-width: 720px)
{
    .container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;    
    }

    .col-50 {
        width: 100%;
        float: left;
    }
}


/*===Animation===*/

@keyframes colorchange {
    0%{background-color: aquamarine;}
    50%{background-color: cadetblue;}
    100% {background-color: blue;}
}

.colorchange {
    animation: colorchange;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }

  .scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
